<form>              
<div class="navbar">
  <a href="AdmincreatesUser.html">Admin creates User</a>&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="form3.html">Admin view Users</a>&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="form5.html">Display User</a>&nbsp&nbsp&nbsp&nbsp&nbsp
</div>

<div class="main">
  <p>Some text </p>
</div>
 <div></div>
<div></div>
<div></div>
</form>



