<form>
<div class="navbar">
  <a href="Admin creates User.html">Admin creates User</a>
  <a href="form3.html">Admin view Users</a>
  <a href="form5.html">Display User</a>
</div>

<div class="main">
  <p>Some text </p>
</div>
 <div></div>
<div></div>
<div></div>
</form>


<button type="submit" class="btn">Login</button>
<br><br> 
<a href="form2.html">click here</a>