<form>
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("img_girl.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  <label for="fname">UserName:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">UserId:</label><br>
  <input type="text" id="lname" name="lname">
<label for="lname">Password:</label><br>
  <input type="text" id="lname" name="lname">
</form>
